* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 3px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2px;
  overflow: hidden;
}

.header {
  width: 100%;
  padding: 0;
  margin: 0;
}

#newestSlide img {
  margin: 0 auto;
  width: auto;
  height: auto;
  min-width: 500px;
  min-height: 500px;
  max-width: 700px;
  max-height: 700px;
}

#popularSlide img,
#topRatingSlide img {
  width: 372px;
  height: 370px;
}

#popularSlide .carousel-indicators,
#topRatingSlide .carousel-indicators {
  top: -30px;
  justify-content: flex-end;
  margin-right: 100px;
  height: fit-content;
}

#popularSlide .carousel-inner,
#topRatingSlide .carousel-inner {
  width: 1100px;
  margin: 0 auto;
  overflow: visible;
}

#popularSlide .carousel-control-prev,
#topRatingSlide .carousel-control-prev,
#carouselExampleControlsNoTouching .carousel-control-prev {
  justify-content: flex-start;
  width: fit-content;
}

#popularSlide .carousel-control-next,
#topRatingSlide .carousel-control-next,
#carouselExampleControlsNoTouching .carousel-control-next {
  justify-content: flex-end;
  width: fit-content;
}

.box-container {
  position: relative;
}

.box-container:hover {
  transform: scale(1.2);
  z-index: 100;
}

.box-container:hover .box {
  display: block;
}

.box {
  position: absolute;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  bottom: -15px;
  display: none;
}

.col-4 {
  padding: 2px;
}

/* Loading page animation */
.loadercontainer {
  height: 100vh;
  width: 100vw;
  font-family: Helvetica;
}

.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}

.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}

.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}

.loader--text:after {
  content: "Loading";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}

@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}

/* End loading page animation */

#carouselExampleControlsNoTouching .card {
  width: 90%;
  margin: 0 auto;
}
#carouselExampleControlsNoTouching .card-text {
  height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}
